* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid rgb(255, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: rgb(255, 0, 0)
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(255, 0, 0)
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: rgb(255, 0, 0)
}

#hamburger-menu {
  display: none;
}

.banner {
  background-image: url("img/FC.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 10px 8px 4px #000000;
}

.about {
  padding: 20px;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about p {
  font-size: 18px;
  margin-bottom: 20px;
}

.highlight {
  padding: 20px;
}

.highlight h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.highlight p {
  font-size: 18px;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sosmed h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sosmed .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border: solid 1px white;
  border-radius: 5px;
  padding: 10px;
}

.sosmed .icon a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.sosmed .icon a:hover {
  color: rgb(243, 187, 34);
}

.sosmed .icon a i {
  font-size: 24px;
}

@media (min-width: 768px) {
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #333;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: rgb(255, 255, 255);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

@media (min-width: 992px) {
  .banner {
    height: 100vh;
  }
  .banner h1 {
    color: #ffffff;
    font-size: 150px;
    font-weight: bold;
    text-shadow: 10px 8px 4px #000000;
  }
}

@media (min-width: 1200px) {
  .banner {
    height: 100vh;
  }
}
